h1{
    color: darkblue; text-align: center;
 }
 p{
    color: antiquewhite; font-size: 20px;
 }
 body{
    background-color: mediumseagreen;
 }
 li{
    font-size: larger; font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
 }
 h1{ border: yellow solid;
    border-width: 5px ;
    background-color: violet;
    size: 20px;
 }
 .field{
    background-image: url("https://webneel.com/wallpaper/sites/default/files/images/08-2018/3-nature-wallpaper-mountain.jpg");
    background-size: auto;
   
 }
 ul{
    color:rgb(240, 205, 11);
 }

 